@page
@model Exercise4.Pages.History.IndexModel

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].SentAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message[0].ReceiptConfirmed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Message)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SentAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipient.UserName)
                </td>
                <td>
                    <span style="white-space: pre-wrap">@Html.DisplayFor(modelItem => item.Content)</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptConfirmed)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
