@model Exercise2.Models.Garden.Tree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tree</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrunkDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrunkDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeafColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeafColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
